/* Make the page cover the full viewport height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General login container for centering content */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eff2f3; /* Light background color */
}

/* Header section for logo and title */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  height: 50px;
  margin-right: 10px;
}

/* Header title styling */
h1 {
  font-size: 24px;
  color: #6e0b0b; /* Dark red for the ACADEMIC PERFORMANCE TRACKER text */
}

/* Box containing login form */
.login-box {
  background-color: #f4f6f6; /* Light background */
  padding: 40px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Google Logo inside the login box */
.login-logo {
  width: 50px;
  margin: 20px 0;
}

/* Text for the login box */
h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Text inside login box */
p {
  font-size: 16px;
}

/* Google Sign-In Button */
.google-signin-btn {
  background-color: #4380e0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-signin-btn:hover {
  background-color: #3367d6;
}

/* Username and password input fields */
.login-input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Styling for the login button */
.login-btn {
  width: 100%; /* Full width */
  background-color: #4285F4;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #357ae8;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
  .login-box {
    width: 90%;
    padding: 30px;
  }

  .login-input {
    font-size: 14px;
  }

  .login-btn {
    font-size: 14px;
    padding: 10px 0;
  }
}
