.innovative-practice-page-container {
    padding: 20px;
  }
  
  .page-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .faculty-course-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .performance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ccc;
  }
  
  .performance-table th, .performance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .add-student-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  